a{
    color:darkcyan;
    background-color:'';
  }
  .App-header{
    text-align: center;


  }
  .App-Main{
    
  }
  #title{
    
    color: white;
    background-color: darkgrey;
  }
  #important{
    color: indianred;
  }
  #notice{
    color: red;
  }
  
  