.active{
    background-color: indianred;
    text-decoration:overline;
  }
  #App-main{
    
    display: flex;
    border: 1px solid red;
    background-color:grey;
    justify-content: center;
  }
	#canvas{
		order:2;
		background-color: rgba(30,30,30,1);
		border:2px solid black;
	}
    #App-Leftside{
      order: 1;
      flex:1;
      min-height:200px;
	  min-width:50px;
      background-color: #eee;
   	  align-items: center;
      max-width: 300px;
	  background-color: snow;
        
    }
  