.Container-Gamble{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:12px;
}
    .Gamble-box{
        display:flex;
        min-width :100px;    

        align-items: center;
        text-align: left;

        padding: 4px;
        border: 4px solid black;
    }
        .Gamble-option{
            width:auto;
            min-height:40px;
            
            padding: 4px;
            margin: 4px;

            border: 2px solid green ;
            align-items: center;
            text-align: center;
        }
    .Gamble-list{
        display:flex;
        min-width: 600px;
        min-height:200px;

        flex-direction: row;
        /* align-items: center; */
        text-align: left;
        padding: 4px;
        border: 4px solid black;
    }
        .Gamble-DiceMotion{
            flex:1;
            width:200px;
            height:auto;
            align-items: center;
            justify-items: center;
            text-align: center;
            border: 4px solid black;
        }
        .Bet-list,.Bet-result-list{
            flex:1.5;
            min-width: 120px;
            border-Top: 2px solid green;
            border-Bottom: 2px solid green;
            justify-items: center;
            /* text-align: left; */
            padding: 4px;
            margin: 4px;
        }
        .Bet-Article{
            flex:2;
            display:flex;
            min-width: 500px;
            border-left: 4px solid red;
            border-right: 4px solid red;
            height: 100%;
        }
            .Bet-total{
                border: 2px solid blue;
                margin: 4px;
            }
        .Listed-text{
            border: 2px solid black;
            margin: 8px;
            padding: 4px;
        }
    input{
        max-width:100px
    }