
p{
    margin:2px;
}
textarea{
    width: 90%;
    height: 3.25em;
    border:2px;
    border-style: ridge;
    border-color: rgb(255, 200, 34);
    resize: none;
}
.App{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.MainOption{
    place-items: center;
    text-align: center;

    padding: 5px;

}
.CommentLayer{
    order:2;
    flex:2;
    width:400px;
    height: auto;

    border: 1px;
    border-color:rgb(0, 0, 0);
    border-style: solid;

    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 1px;
}
.Top{
    
    display:inline;
    width:auto;
    min-height:auto;
    border: 1px;
    border-color: blueviolet;
    border-style: solid;
    margin: 5px;
    padding:2px;


}
.Bottom{
    
    display:inline;
    width:auto;
    height:auto;
    border: 1px;
    border-color:aquamarine;
    border-style: solid;
    margin: 5px;



}
.CommentList{
    place-items: center;
    display:inline;
    width:auto;
    min-height:80px;
    padding: 2px;
    margin: 2px;
}
.CommentArticle
{
    font-size: 12px;
    width:auto;
    height:auto;
    border: 1px;
    border-color: red;
    border-style: solid;
    padding: 4px;
    margin:4px;

}
.CommentProfile
{

    width:auto;
    height:auto;
    border: 1px;
    border-color: red;
    border-style: solid;
    padding: 5px;

}
.CommentWrite{
    
    place-items: center;
    width:auto;
    height:auto;
    border: 1px;
    border-color: red;
    border-style: solid;
    padding: 5px;

}


